numpy
pandas
requests
ply
progress
eventlet
python-socketio[client]
baostock
notebook
TA-Lib
yfinance
seaborn
pyecharts
plotly
akshare
func-timeout
py-mini-racer
schedule
fastapi[all]
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2
pytest
pytest-asyncio
httpx
aiosqlite
dependency-injector
alembic